In [1]:
import pandas as pd
import numpy as np
import ast
import datetime
import os
import seaborn as sns
from scipy import stats
from sklearn import preprocessing

In [2]:
from statsmodels.tsa.arima_model import ARIMA

In [3]:
import ast
d1 = pd.DataFrame(pd.read_csv('tps2000000000069',sep='|',header=None).iloc[:,0]
         .apply(ast.literal_eval).tolist())

In [4]:
d2=pd.DataFrame(pd.read_csv('df_8.csv'))

In [5]:
d=pd.concat([d1,d2],ignore_index=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [6]:
#drop duplicate
d=d.drop_duplicates()

In [7]:
#convert to_datetime
d['localtime'] = d['localtime'].map(lambda x: x.rstrip('UTC'))
d['localtime']=d['localtime'].apply(pd.to_datetime)

In [10]:
d['date'] = [d.date() for d in d['localtime']]
d['time'] = [d.time() for d in d['localtime']]

In [11]:
d['date']=d['date'].apply(pd.to_datetime)

In [12]:
# label grid

In [13]:
bottomLeft = (-22.81583,-43.24794)

topRight = (-22.81315,-43.24410)

n=20

test_grid=d.copy()

lat_steps = np.linspace(bottomLeft[0], topRight[0], n+1)
lon_steps = np.linspace(bottomLeft[1], topRight[1], n+1)

test_grid['col'] = np.searchsorted(lat_steps, test_grid['lat'])
test_grid['row'] = np.searchsorted(lon_steps, test_grid['lng'])

num=0
rows=[]
cols=[]
nums=[]
for col in range(20):
    for row in range(20):
        num=num+1
        rows.append(row+1)
        cols.append(col+1)
        nums.append(num)
label=pd.DataFrame([rows,cols,nums]).transpose()
label.columns=['row','col','num']
grid_label=pd.merge(test_grid,label,on=['row','col'])
grid_label


#grid range: co
lat_stride = lat_steps[1] - lat_steps[0]
lon_stride = lon_steps[1] - lon_steps[0]
co=[]
for lat in lat_steps[:-1]:
    for lon in lon_steps[:-1]:
            # Define dimensions of box in grid
        upper_left = [lon, lat + lat_stride]
        upper_right = [lon + lon_stride, lat + lat_stride]
        lower_right = [lon + lon_stride, lat]
        lower_left = [lon, lat]
        coordinates = [upper_left,upper_right,lower_right,lower_left]
        co.append(coordinates)

grid_label.index=grid_label["localtime"]
grid_label

,Building,ClientMacAddr,Level,Unnamed: 0,lat,lng,localtime,date,time,col,row,num
localtime,,,,,,,,,,,,
2019-12-30 10:14:38.543,TPS2,7c:8b:b5:f0:34:7b,Level 1,NaN,-22.814944,-43.245837,2019-12-30 10:14:38.543,2019-12-30,10:14:38.543000,7,11,131
2019-12-30 10:14:42.831,TPS2,7c:a1:77:8b:32:24,Level 1,NaN,-22.815013,-43.245856,2019-12-30 10:14:42.831,2019-12-30,10:14:42.831000,7,11,131
2019-12-30 10:14:54.301,TPS2,10:d0:7a:c9:35:ed,Level 1,NaN,-22.815015,-43.245901,2019-12-30 10:14:54.301,2019-12-30,10:14:54.301000,7,11,131
2019-12-30 10:14:58.250,TPS2,44:e4:ee:02:61:d5,Level 1,NaN,-22.814990,-43.245839,2019-12-30 10:14:58.250,2019-12-30,10:14:58.250000,7,11,131
2019-12-30 10:15:03.544,TPS2,da:a1:19:ae:83:a8,Level 1,NaN,-22.815025,-43.246011,2019-12-30 10:15:03.544,2019-12-30,10:15:03.544000,7,11,131
2019-12-30 10:15:04.509,TPS2,7c:a1:77:8b:32:24,Level 1,NaN,-22.814993,-43.245926,2019-12-30 10:15:04.509,2019-12-30,10:15:04.509000,7,11,131
2019-12-30 10:15:22.262,TPS2,00:cd:fe:80:51:83,Level 1,NaN,-22.815017,-43.245972,2019-12-30 10:15:22.262,2019-12-30,10:15:22.262000,7,11,131
2019-12-30 10:15:43.598,TPS2,a8:a6:68:bc:ec:16,Level 1,NaN,-22.815023,-43.245872,2019-12-30 10:15:43.598,2019-12-30,10:15:43.598000,7,11,131
2019-12-30 10:15:47.791,TPS2,90:73:5a:5c:fb:fb,Level 1,NaN,-22.814975,-43.245878,2019-12-30 10:15:47.791,2019-12-30,10:15:47.791000,7,11,131
2019-12-30 10:15:48.987,TPS2,00:c3:f4:19:d1:71,Level 1,NaN,-22.814931,-43.245984,2019-12-30 10:15:48.987,2019-12-30,10:15:48.987000,7,11,131
2019-12-30 10:16:44.792,TPS2,0c:8f:ff:45:9c:a1,Level 1,NaN,-22.815006,-43.245917,2019-12-30 10:16:44.792,2019-12-30,10:16:44.792000,7,11,131
2019-12-30 10:16:48.813,TPS2,00:cd:fe:80:51:83,Level 1,NaN,-22.815021,-43.245983,2019-12-30 10:16:48.813,2019-12-30,10:16:48.813000,7,11,131
2019-12-30 10:16:50.909,TPS2,4c:ed:fb:b8:3c:8e,Level 1,NaN,-22.814948,-43.245982,2019-12-30 10:16:50.909,2019-12-30,10:16:50.909000,7,11,131
2019-12-30 10:16:50.910,TPS2,4c:ed:fb:b8:3c:8e,Level 1,NaN,-22.814948,-43.245982,2019-12-30 10:16:50.910,2019-12-30,10:16:50.910000,7,11,131
2019-12-30 10:17:01.947,TPS2,04:1b:6d:cb:0b:4b,Level 1,NaN,-22.814944,-43.246007,2019-12-30 10:17:01.947,2019-12-30,10:17:01.947000,7,11,131
2019-12-30 10:17:39.123,TPS2,44:e4:ee:02:61:d5,Level 1,NaN,-22.815017,-43.245913,2019-12-30 10:17:39.123,2019-12-30,10:17:39.123000,7,11,131
2019-12-30 10:17:58.709,TPS2,a8:a6:68:bc:ec:16,Level 1,NaN,-22.814989,-43.246011,2019-12-30 10:17:58.709,2019-12-30,10:17:58.709000,7,11,131
2019-12-30 10:18:11.354,TPS2,ec:2c:e2:17:b8:94,Level 1,NaN,-22.814996,-43.245875,2019-12-30 10:18:11.354,2019-12-30,10:18:11.354000,7,11,131
2019-12-30 10:18:13.991,TPS2,da:a1:19:01:85:98,Level 1,NaN,-22.815026,-43.246015,2019-12-30 10:18:13.991,2019-12-30,10:18:13.991000,7,11,131
2019-12-30 10:18:35.149,TPS2,fc:64:3a:15:ba:ec,Level 1,NaN,-22.814956,-43.245955,2019-12-30 10:18:35.149,2019-12-30,10:18:35.149000,7,11,131
2019-12-30 10:18:35.150,TPS2,fc:64:3a:15:ba:ec,Level 1,NaN,-22.814956,-43.245955,2019-12-30 10:18:35.150,2019-12-30,10:18:35.150000,7,11,131
2019-12-30 10:18:48.642,TPS2,38:9a:f6:73:b6:bf,Level 1,NaN,-22.814990,-43.245918,2019-12-30 10:18:48.642,2019-12-30,10:18:48.642000,7,11,131
2019-12-30 10:20:27.648,TPS2,7c:a1:77:8b:32:24,Level 1,NaN,-22.815017,-43.245982,2019-12-30 10:20:27.648,2019-12-30,10:20:27.648000,7,11,131
2019-12-30 10:20:56.336,TPS2,90:2b:d2:4a:ca:ba,Level 1,NaN,-22.815021,-43.245884,2019-12-30 10:20:56.336,2019-12-30,10:20:56.336000,7,11,131
2019-12-30 10:21:06.544,TPS2,7c:a1:77:8b:32:24,Level 1,NaN,-22.814963,-43.245832,2019-12-30 10:21:06.544,2019-12-30,10:21:06.544000,7,11,131
2019-12-30 10:21:06.549,TPS2,7c:a1:77:8b:32:24,Level 1,NaN,-22.814963,-43.245832,2019-12-30 10:21:06.549,2019-12-30,10:21:06.549000,7,11,131
2019-12-30 10:21:13.960,TPS2,a8:16:d0:b0:a8:13,Level 1,NaN,-22.815007,-43.245980,2019-12-30 10:21:13.960,2019-12-30,10:21:13.960000,7,11,131
2019-12-30 10:21:35.128,TPS2,f0:d7:aa:b1:d7:1d,Level 1,NaN,-22.815012,-43.245966,2019-12-30 10:21:35.128,2019-12-30,10:21:35.128000,7,11,131
2019-12-30 10:21:44.116,TPS2,10:d0:7a:cb:1c:fb,Level 1,NaN,-22.815025,-43.245984,2019-12-30 10:21:44.116,2019-12-30,10:21:44.116000,7,11,131
2019-12-30 10:21:51.585,TPS2,f4:f1:e1:5f:f2:c4,Level 1,NaN,-22.814978,-43.245849,2019-12-30 10:21:51.585,2019-12-30,10:21:51.585000,7,11,131
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-08-15 07:22:30.679,TPS2,30:07:4d:b6:8e:46,Level 2,686659.0,-22.813573,-43.247061,2019-08-15 07:22:30.679,2019-08-15,07:22:30.679000,17,5,325
2019-08-15 07:22:30.679,TPS2,30:07:4d:b6:8e:46,Level 2,686660.0,-22.813573,-43.247061,2019-08-15 07:22:30.679,2019-08-15,07:22:30.679000,17,5,325
2019-08-18 15:44:05.282,TPS2,e8:50:8b:c5:02:26,Level 2,299203.0,-22.813625,-43.247102,2019-08-18 15:44:05.282,2019-08-18,15:44:05.282000,17,5,325
2019-08-15 07:58:48.047,TPS2,fc:64:3a:8d:c2:6e,Level 2,718785.0,-22.814232,-43.245433,2019-08-15 07:58:48.047,2019-08-15,07:58:48.047000,12,14,234
2019-08-15 07:58:48.047,TPS2,fc:64:3a:8d:c2:6e,Level 2,718786.0,-22.814232,-43.245433,2019-08-15 07:58:48.047,2019-08-15,07:58:48.047000,12,14,234
2019-08-16 12:34:54.139,TPS2,fc:64:3a:8d:c2:6e,Level 2,1629508.0,-22.813755,-43.245611,2019-08-16 12:34:54.139,2019-08-16,12:34:54.139000,16,13,313
2019-08-17 06:44:37.108,TPS2,f4:f5:24:3f:0f:4b,Level 2,1970211.0,-22.813779,-43.245867,2019-08-17 06:44:37.108,2019-08-17,06:44:37.108000,16,11,311
2019-08-17 16:46:04.564,TPS2,fc:64:3a:78:10:7a,Level 2,2301465.0,-22.813788,-43.246675,2019-08-17 16:46:04.564,2019-08-17,16:46:04.564000,16,7,307
2019-08-18 14:16:42.100,TPS2,da:a1:19:01:85:98,Level 2,267501.0,-22.813811,-43.246762,2019-08-18 14:16:42.100,2019-08-18,14:16:42.100000,16,7,307
2019-08-09 21:04:06.271,TPS2,2a:6a:7b:a7:a9:62,Level 2,104295.0,-22.813752,-43.246737,2019-08-09 21:04:06.271,2019-08-09,21:04:06.271000,16,7,307
2019-08-17 18:01:32.747,TPS2,da:a1:19:e8:93:b8,Level 2,2349002.0,-22.814192,-43.245441,2019-08-17 18:01:32.747,2019-08-17,18:01:32.747000,13,14,254
2019-09-01 10:32:51.617,TPS2,da:a1:19:ee:ed:10,Level 2,814928.0,-22.814193,-43.245438,2019-09-01 10:32:51.617,2019-09-01,10:32:51.617000,13,14,254
2019-09-01 10:32:51.617,TPS2,da:a1:19:ee:ed:10,Level 2,814929.0,-22.814193,-43.245438,2019-09-01 10:32:51.617,2019-09-01,10:32:51.617000,13,14,254
2019-08-17 18:17:05.457,TPS2,da:a1:19:dc:f8:7a,Level 2,2357258.0,-22.813949,-43.245562,2019-08-17 18:17:05.457,2019-08-17,18:17:05.457000,15,13,293
2019-08-23 09:46:49.022,TPS2,38:9a:f6:7e:d3:79,Level 2,1447769.0,-22.813922,-43.245569,2019-08-23 09:46:49.022,2019-08-23,09:46:49.022000,15,13,293
2019-08-23 09:46:49.022,TPS2,38:9a:f6:7e:d3:79,Level 2,1447770.0,-22.813922,-43.245569,2019-08-23 09:46:49.022,2019-08-23,09:46:49.022000,15,13,293
2019-08-19 06:09:24.849,TPS2,fa:ae:1b:78:d7:c4,Level 2,539165.0,-22.813568,-43.246800,2019-08-19 06:09:24.849,2019-08-19,06:09:24.849000,17,6,326
2019-08-20 21:54:21.493,TPS2,d0:04:01:37:52:1d,Level 2,1291101.0,-22.813171,-43.246455,2019-08-20 21:54:21.493,2019-08-20,21:54:21.493000,20,8,388
2019-08-31 05:38:22.001,TPS2,30:4b:07:aa:e5:41,Level 2,303552.0,-22.813165,-43.246481,2019-08-31 05:38:22.001,2019-08-31,05:38:22.001000,20,8,388
2019-08-30 22:27:20.621,TPS2,d4:c9:4b:85:88:07,Level 2,55088.0,-22.814106,-43.245728,2019-08-30 22:27:20.621,2019-08-30,22:27:20.621000,13,12,252
2019-08-30 22:27:20.694,TPS2,d4:c9:4b:85:88:07,Level 2,55089.0,-22.814106,-43.245728,2019-08-30 22:27:20.694,2019-08-30,22:27:20.694000,13,12,252
2019-09-01 14:43:42.390,TPS2,fc:64:3a:94:53:a6,Level 2,944740.0,-22.813527,-43.246700,2019-09-01 14:43:42.390,2019-09-01,14:43:42.390000,18,7,347
2019-09-01 14:43:42.390,TPS2,fc:64:3a:94:53:a6,Level 2,944741.0,-22.813527,-43.246700,2019-09-01 14:43:42.390,2019-09-01,14:43:42.390000,18,7,347
2019-08-29 05:37:23.782,TPS2,ec:10:7b:48:c1:f7,Level 2,673376.0,-22.813725,-43.246540,2019-08-29 05:37:23.782,2019-08-29,05:37:23.782000,16,8,308
2019-08-29 05:37:23.782,TPS2,ec:10:7b:48:c1:f7,Level 2,673378.0,-22.813725,-43.246540,2019-08-29 05:37:23.782,2019-08-29,05:37:23.782000,16,8,308
2019-08-30 01:13:04.145,TPS2,10:f1:f2:94:10:f1,Level 2,1099692.0,-22.814612,-43.244921,2019-08-30 01:13:04.145,2019-08-30,01:13:04.145000,10,16,196
2019-08-30 01:13:04.145,TPS2,10:f1:f2:94:10:f1,Level 2,1099693.0,-22.814612,-43.244921,2019-08-30 01:13:04.145,2019-08-30,01:13:04.145000,10,16,196
2019-08-12 14:41:07.655,TPS2,10:f1:f2:53:79:5f,Level 2,740709.0,-22.814587,-43.245023,2019-08-12 14:41:07.655,2019-08-12,14:41:07.655000,10,16,196
2019-08-12 14:41:07.655,TPS2,10:f1:f2:53:79:5f,Level 2,740710.0,-22.814587,-43.245023,2019-08-12 14:41:07.655,2019-08-12,14:41:07.655000,10,16,196
2019-08-11 20:03:26.505,TPS2,d0:04:01:51:73:13,Level 2,1750120.0,-22.813616,-43.246358,2019-08-11 20:03:26.505,2019-08-11,20:03:26.505000,17,9,329

In [20]:
d_test=grid_label.copy()

In [22]:
#August

In [23]:
d8=(d_test['date']>='2019-08-01')&(d_test['date']<='2019-08-31')

In [24]:
d_8=d_test.loc[d8]

In [25]:
d_8.head()

,Building,ClientMacAddr,Level,Unnamed: 0,lat,lng,localtime,date,time,col,row,num
localtime,,,,,,,,,,,,
2019-08-01 04:39:14.136,TPS2,3a:ea:9f:4d:00:5b,Level 2,NaN,-22.814995,-43.245970,2019-08-01 04:39:14.136,2019-08-01,04:39:14.136000,7,11,131
2019-08-01 04:39:52.613,TPS2,dc:bf:e9:61:79:68,Level 2,NaN,-22.814978,-43.245940,2019-08-01 04:39:52.613,2019-08-01,04:39:52.613000,7,11,131
2019-08-01 04:40:19.738,TPS2,a0:56:f3:6c:d3:83,Level 2,NaN,-22.815007,-43.245961,2019-08-01 04:40:19.738,2019-08-01,04:40:19.738000,7,11,131
2019-08-01 05:11:24.704,TPS2,60:30:d4:25:cb:6a,Level 2,NaN,-22.814975,-43.245835,2019-08-01 05:11:24.704,2019-08-01,05:11:24.704000,7,11,131
2019-08-01 05:20:33.233,TPS2,e2:a0:7b:d5:91:ec,Level 2,NaN,-22.814985,-43.245922,2019-08-01 05:20:33.233,2019-08-01,05:20:33.233000,7,11,131

In [26]:
#September:actual frequenct

In [40]:
d9=d_test[d_test["date"]=="2019-09-01"]
d9.head()

,Building,ClientMacAddr,Level,Unnamed: 0,lat,lng,localtime,date,time,col,row,num
localtime,,,,,,,,,,,,
2019-09-01 07:05:42.303,TPS2,28:83:35:a6:f8:e9,Level 2,675079.0,-22.814955,-43.245857,2019-09-01 07:05:42.303,2019-09-01,07:05:42.303000,7,11,131
2019-09-01 07:05:42.303,TPS2,28:83:35:a6:f8:e9,Level 2,675080.0,-22.814955,-43.245857,2019-09-01 07:05:42.303,2019-09-01,07:05:42.303000,7,11,131
2019-09-01 07:15:56.474,TPS2,8a:6f:60:df:6b:0d,Level 2,682725.0,-22.814974,-43.246002,2019-09-01 07:15:56.474,2019-09-01,07:15:56.474000,7,11,131
2019-09-01 07:15:56.474,TPS2,8a:6f:60:df:6b:0d,Level 2,682726.0,-22.814974,-43.246002,2019-09-01 07:15:56.474,2019-09-01,07:15:56.474000,7,11,131
2019-09-01 07:31:29.692,TPS2,28:83:35:a6:f8:e9,Level 2,694727.0,-22.814987,-43.246001,2019-09-01 07:31:29.692,2019-09-01,07:31:29.692000,7,11,131

In [49]:
def test(d9,t1,t2):
    grid=list() 
    for i in range(401):
        dt=d9[d9.num==i]
        hour=dt.resample(rule = '1H').count()
        hour=pd.DataFrame(hour.Building) 
        b=hour.between_time(t1,t2).values
        grid.append(b)
    true=pd.DataFrame(grid,columns=["actual frequency"])
    true=true.iloc[1:]
    return true

In [50]:
dactual = pd.DataFrame()
for i in range(0,24):
    t1 = "%d:00:00" %i
    t2 = "%d:59:59" %i
    ac = test(d9,t1,t2)
    ac['hour'] = i
    dactual = dactual.append(a)

In [51]:
dactual['grid'] = dactual.index
dactual.to_csv(r'level2_actual.csv')

In [28]:
# specific time period with 400 grids

In [34]:
def predict(data,t1,t2):
    grid_pre=list()
    grid_mean=list()    
    for i in range(401):
        dh=data[data.num==i]
        if len(dh)==0:
            y_pre=np.array([0])
        else:
            dh=dh.resample(rule = '1H').count()
            dh=pd.DataFrame(dh.Building)  
            t=dh.between_time(t1,t2)
            a=t.values.mean()
            if len(t) <3 or a <1:
                if len(t)==0:
                    y_pre=np.array([0])
                else:
                    y_pre=np.array([int(np.mean(t.values))])
            else:
                model = ARIMA(t, order=(1,0,0))
                model_fit = model.fit()
                yfore = model_fit.forecast()
                if yfore[0]>0:
                    y_pre=yfore[0]
                else:
                    y_pre=np.array([0])
        grid_pre.append(y_pre)
    grid_pre=pd.DataFrame(grid_pre,columns=["predicted frequency"])
    grid_pre["predicted frequency"]=grid_pre["predicted frequency"].astype(int)
    grid_pre=grid_pre.iloc[1:]
    return grid_pre

In [35]:
q=predict(d_8,"10:00:00","10:59:59")
q[q["predicted frequency"]>0]

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: RuntimeWarning: Mean of empty slice.
  if sys.path[0] == '':
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1341: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out_full[ind] += zi
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1344: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out = out_full[ind]
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1350: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  zf = out_full[ind]
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:607: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:609: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()

     predicted frequency
7                   1359
8                   2126
9                   1211
10                   120
11                   124
12                    65
13                   440
27                   379
28                    20
29                  1493
30                  1556
31                  1300
32                  1063
33                  1316
34                   435
35                     4
46                     2
47                   135
48                     4
49                   351
50                   281
51                   184
52                    42
53                   222
54                   315
55                  1137
56                    40
66                     1
67                     9
68                     8
..                   ...
222                   64
223                  247
224                 1260
225                   47
226                    6
241                  207
242                   99
243                  830
244                  148
245                    8
246                    1
261                  754
262                  229
263                  411
264                   10
265                    4
281                  405
282                  761
283                   45
284                    8
301                    5
302                  262
303                   13
304                    3
321                   11
322                   34
323                   24
341                  117
342                   89
343                  149

[167 rows x 1 columns]

In [36]:
df = pd.DataFrame()
for i in range(0,24):
    s1 = "%d:00:00" %i
    s2 = "%d:59:59" %i
    a = predict(d_8,s1,s2)
    a['hour'] = i
    df = df.append(a)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: RuntimeWarning: Mean of empty slice.
  if sys.path[0] == '':
/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1341: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out_full[ind] += zi
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1344: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  out = out_full[ind]
/anaconda3/lib/python3.7/site-packages/scipy/signal/signaltools.py:1350: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  zf = out_full[ind]
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:607: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/tsatools.py:609: RuntimeWarning: invalid value encountered in true_divide
  (1+np.exp(-params))).copy()
/anaconda3/lib/python3.7/site-packages/statsmodels/tsa/kalmanf/kalmanfilter.py:649: RuntimeWarning: divide by zero encountered in true_divide
  R_mat, T_mat)
/anaconda3/lib/python3.7/site-packages/statsmodels/base/model.py:508: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [37]:
df['grid'] = df.index

In [38]:
df.to_csv(r'level2_pred.csv')

In [39]:
len(d)

23804979

In [ ]:
# one grid with 24 hours

In [ ]:
hourlist=[['00:00:00',"00:59:59"],["01:00:00","01:59:59"],["02:00:00","02:59:59"],
          ["03:00:00","03:59:59"],["04:00:00","05:59:59"],["05:00:00","05:59:59"],
          ["06:00:00","06:59:59"],["07:00:00","07:59:59"],["08:00:00","08:59:59"],
          ["09:00:00","09:59:59"],["10:00:00","10:59:59"],["11:00:00","11:59:59"],
          ["12:00:00","12:59:59"],["13:00:00","13:59:59"],["14:00:00","14:59:59"],
          ["15:00:00","15:59:59"],["16:00:00","16:59:59"],["17:00:00","17:59:59"],
          ["18:00:00","18:59:59"],["19:00:00","19:59:59"],["20:00:00","20:59:59"],
          ["21:00:00","21:59:59"],["22:00:00","22:59:59"],["23:00:00","23:59:59"]]

In [ ]:
def predicttime(data,grid):
    d=data[data.label==grid]
    d.index=d["localtime"]
    dh=d.resample(rule = '1H').count()
    dh=pd.DataFrame(dh.Building)
    dh.columns=["frequency"]
    grid_pre=list()
    grid_mean=list()
    for i,j in hourlist:
        t=dh.between_time(i,j)
        model = ARIMA(t, order=(0,1,1))
        model_fit = model.fit()
        yfore = model_fit.forecast()
        if yfore[0]>0:
            y_pre=yfore[0]
        else:
            y_pre=np.array([0])
        y_mean=t.mean().frequency
        grid_pre.append(y_pre)
        grid_mean.append(y_mean)
    grid_pre=pd.DataFrame(grid_pre,columns=["predicted frequency"])
    grid_mean=pd.DataFrame(grid_mean,columns=["average frequency"]) 
    grid_pre["average frequency"]=grid_mean
    return grid_pre

In [ ]:
predicttime(d_8,315)